:root{
    --red: #fa3532;
    --dark-red: #b93636;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Montserrat, SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

main{
    display: flex;
    flex: 1 1 auto;
}


.board{
    margin: auto;
    padding: 1em;
    max-width: 40em;
    text-align: center;
}

.board img{
    width: 30em;
    max-width: 80%;
}

.board h2{
    margin-top: 2.5em;
    margin-bottom: 1em;
    color: var(--yellow);
    letter-spacing: .05em;
}
